<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pin to board</title>
</head>
<body>
    <form action="" method="post">
        <p>
            <h2>Board ID</h2>
	        <label for="board_id">board_id</label>
	        <input type="text" name="board_id">
	    </p>
        <p>
            <h2>Note ID</h2>
	        <label for="note_id">note_id</label>
	        <input type="text" name="note_id">
	    </p>
	    <p>
	        <input type="submit">
	    </p>
    </form>
</body>
</html>