<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="важные, ключевые, слова">
	<meta name="description" content="краткое описание">
	<title>FireWheel</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
	<header>
		<div class="top-header">
		phone
		</div>
		<div class="header-content">
			<nav class="main-navigation">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Галерея</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<img src="https://i.redd.it/q6zrfc1ndni41.jpg" width="300">
	</main>
	<footer></footer>
</body>
</html>